@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GrinHome</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavItem Label="Home" URL="" Icon="home" LinkMatch="NavLinkMatch.All" />

        <NavItem URL="home/graph" Label="Home" Icon="ssid_chart" />

        <NavItem URL="vps/postfix" Label="Mails" Icon="email" />

        <AuthorizeView Roles=@GrinHome.Data.DbTool.Admin>
            <NavItem URL="admin/index" Label="Admin" Icon="settings" />
            @if (SelectedItem.StartsWith("admin"))
            {
                <NavItem URL="admin/sensors" Label="Sensors" />
                <NavItem URL="admin/valueDefinition" Label="Signals" />
            }
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <NavItem URL="Identity/Account/Manage" Label="My account" Icon="account_circle" />
                <li class="nav-item px-3">
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="btn btn-link nav-link p-2" style="color:#d7d7d7;font-size:0.9rem">
                            <RadzenIcon Icon="logout" class="ps-3 pe-3" /> Log out
                        </button>
                    </form>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@*<a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>*@


@code {
    private bool collapseNavMenu = true;

    public string SelectedItem { get { return NavigationManager.Uri.Replace(NavigationManager.BaseUri, ""); } }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
