@page "/admin/index"

<h3>HomeAdmin</h3>

<RadzenButton Text="Close application" Click="CloseApplication" />

<RadzenTextBox @bind-Value="Email" Placeholder="your@email.com" />
<RadzenButton Text="Send test mail" Click="SendTestMail" />

@if(!string.IsNullOrEmpty(emailResult))
{
    <div class="m-2 alert alert-info">
        @emailResult
    </div>
}