@page "/admin/index"

<h3>HomeAdmin</h3>

<RadzenButton Text="Close application" Click="CloseApplication" />

<RadzenTextBox Value="@Email" Placeholder="your@email.com" />
<RadzenButton Text="Send test mail" Click="SendTestMail" />