@page "/home/graph/{DataPage?}"

<PageTitle>GrinHome - Graphics @DataPage</PageTitle>

@if (string.IsNullOrEmpty(DataPage) || DeviceList == null)
{
    <div class="alert alert-warning">
        No data to show
    </div>
    return;
}

<div>
    <RadzenButton Text="24h" Click="() => SetTimeSpanHours(24)" />
    <RadzenButton Text="3 days" Click="() => SetTimeSpanHours(24*3)" />
    <RadzenButton Text="1 week" Click="() => SetTimeSpanHours(24*7)" />
    <RadzenButton Text="1 month" Click="() => SetTimeSpanHours(24*30)" />
</div>
<div class="pt-1">
    @foreach (var device in DeviceList)
    {
        <RadzenButton Text="@device" Click="() => SetPage(device)" />
    }
</div>

@if (dataGraphs != null && dataGraphs.Any())
{
    <div class="d-flex flex-wrap">
        @foreach (var item in dataGraphs)
        {
            <GrinGraph ValueShown=item />
        }
    </div>
}